<div class="row">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h5>Hi, welcome to my page of SpaceX company.</h5>
          <h5>This page is made with HTML, Angular, TypeScript and CSS.</h5>
          <h5>The data is provide by {{apiInfo.project_name}}</h5>
          <br/><br/>
          <h5>{{apiInfo.project_name}} is an {{apiInfo.description}}</h5>
          <br/>
          <a [attr.href]="apiInfo.project_link">{{apiInfo.project_link}}</a>
      </div>
    </div>
  </div>