<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" class="nav-link" routerLink="apiInfo">
            <img src="../../../assets/logo.png" width="114" height="24" />
        </a>      
        <a class="nav-link" routerLink="apiInfo">Home</a>
        <a class="nav-link" routerLink="spacex">SpaceX</a>
        <a class="nav-link" routerLink="history">History</a>
        <a class="nav-link" routerLink="landingPads">Landing pads</a>
        <a class="nav-link" routerLink="launches">Launches</a>
        <a class="nav-link" routerLink="missions">Missions</a>
        <a class="nav-link" routerLink="rockets">Rockets</a>
        <a class="nav-link" routerLink="roadster">Roadster</a>
        <a class="nav-link" routerLink="aboutDev">About me</a>
    </div>
</nav>
<br />