<div class="row">
  <h2>About the dev...</h2>
</div>
<div class="row">
  <h6>Hi, my name is Gabriel, i'm a fullstack developer with experience in .NET Framework.</h6>
  <h6>I develop with C#, HTML, CSS and JavaScript. And here i am... learning Angular and TypeScript</h6>
</div>
<br/>
<div class="row">
  <h6>Contact me!</h6>
</div>
<br/>
<br/>
<div class="row text-center">
  <div class="col-sm-12">
    <a href="https://github.com/GabrielCanosa">
      <img src="https://img.icons8.com/color/48/000000/github--v1.png">
    </a>
    <a href="www.linkedin.com/in/gabriel-canosa-66a5179a">
      <img src="https://img.icons8.com/color/48/000000/linkedin.png">
    </a>
  </div>
</div>