<div class="row">
    <div class="col-sm-6">
        <ul *ngFor="let item of historyItems">
            <li *ngIf="item.id <= (historyItems.length / 2)">
                {{item.id}}. {{item.event_date_utc |date:"dd-MM-yyyy"}} - {{item.title}}
                <span>{{item.details}}</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul *ngFor="let item of historyItems">
            <li *ngIf="item.id > (historyItems.length / 2)">
                {{item.id}}. {{item.event_date_utc |date:"dd-MM-yyyy"}} - {{item.title}}
                <span>{{item.details}}</span>
            </li>
        </ul>
    </div>
</div>