@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

#launchImage{
    height: 300px;
    width: 300px;
}

p{
    font-family: 'Sulphur Point', sans-serif;
}

.nav-tabs {
    display:none;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}